body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d8d0cd;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1000px;
  width: auto;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid #434341;
  width: 400px;
  height: 650px;
}

.calculator-screen {
  display: flex;
  border: 0px solid #434341;
  width: 400px;
  height: 150px;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: #5E5A59;
}

.display-box {
  width: 100%;
  font-size: 4rem;
  height: 150px;
  border: none;
  background-color: #252525;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}

.row {
  display: flex;
  width: 400px;
  height: 100px;
}

.clear-button {
  width: 300px;
  height: 100px;
  background-color: #434341;
  color: white;
  font-size: 50px;
  border: 0.5px solid #434341;
  cursor: pointer;
}

.operator-button {
  width: 100px;
  height: 100px;
  background-color: #FF9F0C;
  color: white;
  font-size: 40px;
  border: 0.5px solid #434341;
  cursor: pointer;
}

.number-button {
  width: 100px;
  height: 100px;
  background-color: #898685;
  color: white;
  font-size: 35px;
  border: 0.5px solid #434341;
  cursor: pointer;
}

#zero {
  width: 200px;
  height: 100px;
  background-color: #898685;
  color: white;
  font-size: 30px;
  border: 0.5px solid #434341;
  cursor: pointer;
}

.decimal {
  width: 100px;
  height: 100px;
  background-color: #898685;
  color: white;
  font-size: 40px;
  border: 0.5px solid #434341;
  cursor: pointer;
}

.footer {
  display: flex;
  align-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 30px;
}